.fondoregister {
    box-shadow: 1px 1px 20px rgb(20, 162, 1);
    border-radius: 0 0 20px 20px;
    background-color: #cbf386;
    color: rgb(101, 183, 60);
    border: none;
    padding: 20px;
    
}

.register {
    color: white;
    padding: 15px;
    font-size: 24px;
    border-radius: 20px;
    background-color: rgb(130, 199, 107);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    box-shadow: 1px 0px 15px #cbf386;
    margin-bottom: 30px;
    text-align: center;
}

.submit-register {
    background-color: rgb(141, 89, 172);
    color: white;
    font-size: 18px;
    border: none;
}

.submit-register:hover {
    background-color: rgb(184, 116, 223);
    box-shadow: 0px 0px 5px black;
}
